.jumbotron {
    /* approximate styles for Jumbotron */
    padding: 2rem 1rem;
    margin: 2rem;
    background-color: #689ed3;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin: 2rem;
    padding: 2rem 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.justify-content-center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.rounded-circle {
    border-radius: 50%;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.bg-light {
    background-color: #f8f9fa!important;
}

.mb-5 {
    margin-bottom: 3rem!important;
}

.mb-0 {
    margin-bottom: 0!important;
}

.pl-md-5 {
    padding-left: 3rem;
}

.text-light {
    color: #f8f9fa;
}

.text-dark {
    color: #343a40;
}

.text-center {
    text-align: center;
}

.text-md-left {
    text-align: left;
}

.h3 {
    font-size: 1.75rem;
}

/* Add other styles as needed */
